/*
"http://images.cnblogs.com/cnblogs_com/iny7/775666/o_banner.jpg"
"http://images.cnblogs.com/cnblogs_com/iny7/775666/o_pic01.jpg"
"http://images.cnblogs.com/cnblogs_com/iny7/775666/o_pic02.jpg"
"http://images.cnblogs.com/cnblogs_com/iny7/775666/o_pic03.jpg"
http://images.cnblogs.com/cnblogs_com/iny7/775666/o_city.jpg
*/
/*reset*/
body{
	margin: 0;
}
ul{
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
#home{
	position: relative;
	width: 100%;
	/*background: url("http://images.cnblogs.com/cnblogs_com/iny7/775666/o_banner.jpg");*/
	/*background-size: cover;*/
	/*background-attachment: fixed;*/

	border: 5px solid blue;
	/*overflow: hidden;*/
}
#header{
	position: relative;
	height: 400px;
	overflow: hidden;
}

/**************header部分设计**************/
/*页头展示区*/
#blogTitle{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 60px;
	background-color: green;
	color: #FFF;
	/*background: url("http://images.cnblogs.com/cnblogs_com/iny7/775666/o_city.jpg");*/
	background: url("city.jpg");
	background-color: #900;
	background-size: 100% 100%;
	/*background-position: 50% 50%;*/
}
#blogTitle h1{
	font-size: 60px;
}
#blogTitle h2{
	font-size: 40px;
}
.headermaintitle{
	color: yellow;
	margin-left: 50px;
	
}
/*导航区*/
#navigator{
	position: fixed;
	width: 100%;
	height: 60px;
	color: #FFF;
	z-index: 10;

}
/*导航区-导航条*/
#navList{
	height: 60px;
	width: 100%;
	background: #000;

}
.menu{
	float: left;
	width: 100px;
	font-size: 20px;
	line-height: 60px;
	text-align: center;
	color: #FFF;
	transition: all 0.3s;
}
/*这里可以加特技*/
.menu:hover{
	background-color: #FFF;
	opacity: 0.8;
	color: #000;
	transform: rotate(10deg);
}
/*导航区-状态条*/
.blogStats{
	position: relative;
	bottom: 41px;
	float: right;
	width: 20%;
	font-size: 20px;
}
/*******************中间区******************/
#main{
	position: relative;
	margin:0 auto;
	background-color: #9ff;
	min-height: 2000px;
	border: 2px solid red;
	background: url("banner.jpg") no-repeat;
	background-attachment: fixed;
	background-size: cover;
	overflow: hidden;

}
/*因为不能改html,所以这里用css3的after选择器加蒙版*/
#main:after{
	position: absolute;
	content: '';
	top: 0;
	color: red;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	opacity: 0.8;
	z-index: 0;
	/*IE*/
	filter:alpha(opacity=60);
}
#mainContent{
	float: right;
	position: absolute;
	border: 2px solid red;
	border-radius: 5px;
	top: 2%;
	right: 15%;
	width: 59%;
	z-index: 1;
}
#sideBar{
	position: absolute;
	border-radius: 5px;
	border: 2px solid red;
	width: 20%;
	min-height: 600px;
	margin: 2%;
	color: #000;
	z-index: 1;
}

.clear{
	clear: both;
}
.day{

	border: 2px solid red;
	margin:20px;
}
.postTitle{
	/*color: */
	font-size: 20px;
	font-weight: bold;
}
/*未完成*/
/*#footer{
	background-color: #CCC;
}*/
