/*雪碧图的缩放要用scale*/
.boy{
	position: absolute;
	width: 10.4%;
	height: 32.2%;
	left: 20%;
	bottom: 20%;
	border: 1px solid red;
	background-image: url(../images/boy.png);
	background-position: 0 -100%; 
	/*哈哈 background-position也可以自适应*/
	background-size: 700% 200%;
	/*哈哈哈哈哈哈哈哈,translate也能自适应(百分比为当前元素的倍数),css3何止强大,简直强大*/
	/*transform: translate(100%);*/
	-webkit-animation: walk 1s 0.2s steps(1,start) infinite;
	/*-webkit-animation-fill-mode: backwards;*/
}
.withFlower{
	background-position: -200% 0;
	-webkit-animation: walkWithFlower 1s steps(1,start) infinite;
}
@-webkit-keyframes walk{
	0%{
		/*background-position: 0 291px; */
	}
	25%{
		background-position: -400% 0;
	}
	50%{
		background-position: -200% -100%; 
	}
	75%{
		background-position: -100% -100%;
	}
	100%{
		background-position: 0 -100%; 
	}
}
@-webkit-keyframes walkWithFlower{
	0%{
		/*background-position: -300px 0;*/
	}
	25%{
		background-position: -600% 0;
	}
	50%{
		background-position: -300% 0; 
	}
	75%{
		background-position: -500% 0;
	}
	100%{
		background-position: -200% 0;
	}
}

/*废弃代码
@-webkit-keyframes enter{
	50%{*/
		/*这样粗暴地改变transform属性会影响到js代码中
		利用transform实现的男孩移动,所以直接用js控制
		缩放,而用css3动画控制透明度*/
		/*transform: scale(0.5);*/

		/*发现用animation实现进门的话,添加classname的时间
		(男孩缩小后)和改变透明度的时间(缩小前)在逻辑上不太合.
		而且改变classname的同时应该给男孩加花,这一动作也在
		改变透明度之后,索性在js中直接使用定时器控制透明度*/
		/*opacity: 0;
}*/