body{
	margin:0;
	padding: 0;
}
ul{
	list-style: none;
	margin:0;
	padding: 0;
	left: -50%;
}
li{
	margin:0;
	padding: 0;
}
#wrap{ 
	position: absolute;
	width:100%;
	height: 100%;
	overflow: hidden;
}
.container{
	position: relative;
	width: 100%;
	height: 100%;
	/*transition: transform 5s .2s;*/
	/*transform:translate(-200%);*/
}
.container li{
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.container li:first-child{
	background-image: url('../images/QixiA.png');
}
.container li:nth-child(2){
	background-image: url('../images/QixiB-dark.png');	
	left:100%;
	/*-webkit-animation: light 8s;*/
}
/*使用html元素进行预加载*/
	 /*常见的都会no-repeat -9999px -9999px;*/
/*.container li .preload{
	background: url('../images/QixiB-bright.png');
}*/
/*.container li.bright{
	background-image: url('../images/QixiB-bright.png');
}*/
.container li:last-child{
	background-image: url('../images/QixiC.png');
	left:200%;
}
@-webkit-keyframes light{
	50%{
		background-image: url('../images/QixiB-bright.png');
	}
}